.author-box {
  padding-bottom: 101px;
}
.author-img {
  width: 350px;
  height: 266px;
  border-radius: 15px 15px 0px 0px;
}
.bio-input {
  height: 82px;
  scroll-snap-align: 100;
  border: 1px solid #b4b4bb;
  border-radius: 10px;
}
