body {
  margin: 0;
  font-family: "Rotterburg Stylish FREE";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #191919;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Rotterburg Stylish FREE";
  src: url("./assets/fonts/RotterburgStylishRegular.woff2") format("woff2"),
    url("./assets/fonts/RotterburgStylishRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
